<h2>Products ({{totalCount}})</h2>

<div class="row mb-10">
  <div class="col-xs-12 text-right">
    <a href="#/products/new" class="btn btn-default">New</a>
  </div>
</div>

<table class="table table-strip table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="#product of products">
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.createdAt}}</td>
      <td>{{product.updatedAt}}</td>
      <td><a href="#/products/{{product.id}}">Edit</a></td>
    </tr>
  </tbody>
</table>
