<div class="form-group">
  <label class="col-xs-2 control-label">Id</label>
  <div class="col-xs-10">
    <p class="form-control-static">{{product.id}}</p>
  </div>
</div>
<div class="form-group">
  <label class="col-xs-2 control-label">Name</label>
  <div class="col-xs-10">
    <input type="text" class="form-control"
    [(ngModel)]="product.name" [ngFormControl]="form.controls['name']">
  </div>
</div>
<div class="form-group">
  <label class="col-xs-2 control-label">Price</label>
  <div class="col-xs-10">
    <input type="text" class="form-control"
    [(ngModel)]="product.price" [ngFormControl]="form.controls['price']">
  </div>
</div>
